@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1E1E1E;
  
}
  /* scroll-behavior:smooth; */
  /* BREAKS LENIS SMOOTH SCROLL */

/* *{
    cursor: none !important;
} */

#__next{
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
}

/* prevents sweet alert overflow */
.swal2-shown{
    padding-right: 0 !important;
}


/* main{
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
} */

body,
html {
    overflow-x: hidden;
    min-height: 100vh;
  
}

.bg-elipse {
    /* background-position: 10% 40%; */
    background-image: url('/Elipse-4.svg');
    background-repeat: no-repeat;
    opacity: 0.67;
    /* backdrop-filter: blur(100px); */
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    width: 0.4em;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.grayscale {
    filter: grayscale(100%); /* 100% escala de grises */
    transition: filter 0.3s ease; /* Transición suave para el efecto hover */
  }
  
  /* Estilo de las imágenes al pasar el mouse */
  .grayscale:hover {
    filter: none; /* Elimina el filtro al pasar el mouse */
  }